<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="<%= BASE_URL %>favicon.png">
  <link rel="stylesheet" href="./icofont.min.css">
  <title>Uzdravení pro Eddieho</title>
  <meta property="og:url" content="https://uzdraveniproeddieho.cz" />
  <meta property="og:title" content="Sbírka na uzdravení Eddieho od Život dětem o.p.s." />
  <meta property="og:image"
    content="https://firebasestorage.googleapis.com/v0/b/hope-3a0c8.appspot.com/o/Banner.jpg?alt=media&token=614293d9-0cd3-4267-b6cd-a799a7d2d5fa" />
  <meta property="description" content="Charitativní sbírka pro nemocného kluka Eddieho od Život dětem o.p.s."/>

</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>