<template>
  <div id="admin" class="container mt70">
    <form id="admin-login-form" :hidden="loggedIn" ref="form">
      <label for="email">email</label>
      <input type="text" ref="email" />
      <label for="password">heslo</label>
      <input type="password" ref="password" current-password="true" />
      <button id="admin-login-form-button" @click.prevent="wrappedLogin">
        Přihlásit
      </button>
    </form>
    <div id="errorMessage">
      {{ errMessage }}
    </div>
    <div id="editors" :hidden="!loggedIn">
      <CounterEditor> </CounterEditor>
      <ArticlesEditor></ArticlesEditor>
    </div>
  </div>
</template>

<script>
import api from "@/api.js";
import CounterEditor from "../components/CounterEditor.vue";
import ArticlesEditor from "@/components/ArticlesEditor";
export default {
  data() {
    return {
      loggedIn: false,
      user: Object,
      errMessage: "",
    };
  },
  components: {
    CounterEditor,
    ArticlesEditor,
  },
  methods: {
    wrappedLogin() {
      this.errMessage = "";
      api.login(
        this.$refs.email.value,
        this.$refs.password.value,
        (user) => {
          this.loggedIn = true;
          this.user = user;
        },
        (err) => {
          this.errMessage = err;
          this.attempt++;
        }
      );
    },
  },
};
</script>

<style scoped lang="scss">
#admin {
  text-align: center;
  font-size: 36px;
  width: 256px;
  #admin-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    #admin-login-form-button {
      margin-top: 36px;
      padding: 10px 5px;
      border-radius: 15px;
    }
  }
  #errorMessage {
    margin-top: 36px;
    color: red;
  }
  #editors {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
</style>
