<template>
  <div id="home">
    <Nav/>
    <Hero />
    <Story />
    <Collection/>
    <News />
    <Gallery />
    <Footer />
  </div>
</template>

<script>
import Hero from "@/components/Hero.vue";
import Collection from "@/components/Collection.vue";
import Footer from "@/components/Footer.vue";
import Gallery from "@/components/Gallery.vue";
import Story from "@/components/Story.vue";
import Nav from "@/components/Nav.vue";
import News from "@/components/News.vue";

export default {
  mounted() {},
  components: {
    Hero,
    Collection,
    Footer,
    Gallery,
    Story,
    Nav,
    News,
  },
};
</script>

<style scoped lang="scss">
#home {
  width: 100%;
}
</style>
