<template>
  <div class="mt70">
    <div class="row">
      <div class="col">Přidání článku</div>
    </div>
    <form>
      Datum
      <input type="date" name="date" ref="date" />
      Text (zadaných znaků: {{ article.charCount }})
      <textarea
        ref="text"
        name="text"
        cols="30"
        rows="10"
        placeholder="Vložte text článku. (max. přibližně 400 znaků včetně interpunkce)"
        @keydown="updateCharCount"
        @change="updateCharCount"
      ></textarea>
      <div class="row">
        <div class="col">
          obrázek 1
          <input type="file" name="image1" ref="image1" />
          popisek 1
          <input type="text" name="alt1" ref="alt1" />
        </div>
      </div>

      <div class="row">
        <div class="col">
          obrázek 2
          <input type="file" name="image3" ref="image2" />
          popisek 2
          <input type="text" name="alt2" ref="alt2" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          obrázek 3 - nebude vidět v mobilní verzi!
          <input type="file" name="image3" ref="image3" />
          popisek 3
          <input type="text" name="alt3" ref="alt3" />
        </div>
      </div>
      <input type="submit" value="Uložit článek" @click.prevent="saveArticle" />
    </form>
  </div>
</template>

<script>
import api from "@/api.js";
export default {
  data() {
    return {
      article: {
        charCount: 0,
        src: "",
      },
    };
  },
  methods: {
    updateCharCount(ev) {
      this.article.charCount = ev.target.value.length;
    },
    saveArticle() {
      let date = this.$refs.date.value.split("-");

      let result = new Array(3);
      result[1] = date[1];
      result[0] = date[2];
      result[2] = date[0];

      let articleObj = {
        date: result.join("."),
        text: this.$refs.text.value,
        imagesData: [],
        imageAlts: [
          this.$refs.alt1.value,
          this.$refs.alt2.value,
          this.$refs.alt3.value,
        ],
      };

      if (this.formIsComplete()) {
        let fileReaders = [];
        for (let i = 0; i < 3; i++) {
          let fr = new FileReader();
          fr.addEventListener("load", () => {
            articleObj.imagesData.push(fr.result);
          });
          fileReaders.push(fr);
        }
        setTimeout(() => {
          for (let i = 0; i < 3; i++) {
            fileReaders[i].readAsDataURL(this.$refs[`image${i + 1}`].files[0]);
          }
        }, 1000);

        setTimeout(() => {
          api.getArticlesLength((length) => {
            let articleID = `article-${length + 1}`;
            api.saveArticle(articleID, articleObj);
            this.clearForm();
            alert("Úspěch!");
          });
        }, 1000);
      } else {
        alert("Zkontrolujte, že všechna políčka mají hodnoty!");
      }
    },
    clearForm() {
      Object.values(this.$refs).forEach((ref) => (ref.value = null));
    },
    formIsComplete() {
      return !Object.values(this.$refs)
        .map((e) => e.value === undefined || e.value === null || e.value === "")
        .find((e) => e === true);
    },
  },
};
</script>

<style lang="scss" scoped>
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  * {
    margin: 5px;
    padding: 5px;
  }
}
</style>
