<template>
  <div id="carousel" class="container-fluid">
    <div class="row" id="renderer">
      <div v-for="n in 8" :key="n" class="col">
        <img
          v-if="n <= imageObjectsFiltered().length"
          @click="zoom"
          :data-category="imageObjectsFiltered()[n - 1].category"
          :src="imageObjectsFiltered()[n - 1].src"
          :alt="imageObjectsFiltered()[n - 1].alt"
        />
        <div v-else>&nbsp;</div>
      </div>
    </div>

    <div id="renderer-phone">
      <div class="row">
        <div v-for="n in 4" :key="n" class="col">
          <div v-if="n <= imageObjectsFiltered().length">
            <img
              @click="zoom"
              :data-category="imageObjectsFiltered()[n - 1].category"
              :src="imageObjectsFiltered()[n - 1].src"
              :alt="imageObjectsFiltered()[n - 1].alt"
            />
          </div>
          <div v-else>&nbsp;</div>
        </div>
      </div>
      <div class="row">
        <div v-for="n in 4" :key="n" class="col">
          <div v-if="n <= imageObjectsFiltered().length - 4">
            <img
              @click="zoom"
              :data-category="imageObjectsFiltered()[n + 3].category"
              :src="imageObjectsFiltered()[n + 3].src"
              :alt="imageObjectsFiltered()[n + 3].alt"
            />
          </div>
          <div v-else>&nbsp;</div>
        </div>
      </div>
    </div>

    <div class="row" id="paginatorRow">
      <div class="col" id="paginator">
        <button :disabled="currentPage === 1" id="decrement" @click="decrement">
          &lt;
        </button>

        <button
          :disabled="currentPage === pages"
          id="increment"
          @click="increment"
        >
          &gt;
        </button>
      </div>
    </div>
    <transition name="fade">
      <Maximizer
        v-if="maximized"
        :imageObj="maximizedImageObj"
        :category="category"
        @closed="unZoom"
      />
    </transition>
  </div>
</template>

<script>
import Maximizer from "@/components/Maximizer.vue";
export default {
  data() {
    return {
      maximizedImageObj: Object,
      maximized: false,
      currentPage: 1,
      pages: 1,
    };
  },
  props: {
    imageObjects: [],
    page: Number,
    category: {
      type: String,
      default: "before",
    },
  },

  methods: {
    unZoom() {
      this.maximized = false;
    },
    increment() {
      this.currentPage++;
    },
    decrement() {
      this.currentPage--;
    },
    zoom(ev) {
      let result = this.filterImageObjCategory(this.imageObjects);
      this.maximizedImageObj = result.find((e) => {
        return (
          e.src.split("/")[2].split(".")[0] ===
          ev.target.src.split("/")[4].split(".")[0]
        );
      });
      this.maximized = true;
    },
    filterImageObjCategory(imageObjects) {
      let result = imageObjects;

      result = result.filter((imageObj) => imageObj.category === this.category);

      return result;
    },
    imageObjectsFiltered() {
      let result = this.filterImageObjCategory(this.imageObjects);
      this.calculatePagesNeeded(result);
      result = this.sliceImageObj(result);
      return result;
    },
    sliceImageObj(imageObjects) {
      let result = imageObjects;
      if (this.end <= result.length) {
        result = result.slice(this.start, this.end);
      } else {
        result = result.slice(this.start, result.length);
      }
      return result;
    },
    calculatePagesNeeded(imageObjects) {
      this.pages = Math.ceil(imageObjects.length / 8);
    },
  },

  computed: {
    start() {
      let result = this.currentPage * 8 - 8;

      return result;
    },
    end() {
      let result = this.currentPage * 8;

      return result;
    },
  },
  watch: {
    category() {
      this.currentPage = 1;
      this.imageObjectsFiltered();
    },
  },
  components: {
    Maximizer,
  },
};
</script>

<style scoped lang="scss">
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-down(lg) {
  #carousel {
    height: 100%;
    * {
      text-align: center;
    }
    .p110 {
      padding: 40px 10px;
    }
    .mt70 {
      margin-top: 24px !important;
    }
    h2 {
      margin-top: 0;
      font-size: 30px !important;
    }
    #paginatorRow {
      #paginator {
        margin-top: 3.5vh !important;
      }
    }

    #renderer {
      display: none !important;
    }
    #renderer-phone {
      display: flex !important;
      flex-direction: column;
    }
    img {
      margin: 0;
      padding: 0;
    }
    .col {
      padding: 5px;
    }
    .row {
      margin: 0;
    }
    .responsive-text-18 {
      padding: 0 24px;
      margin: 0;
      font-size: 18px;
      line-height: 24px;
    }
    .responsive-text-24 {
      font-size: 24px;
      line-height: 24px;
    }

    .responsive-text-12 {
      font-size: 12px;
      line-height: 24px;
    }
  }
}
#carousel {
  .invisibleImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
  }
  .invisibleImg:after {
    content: "";
    padding-bottom: 100%;
  }
  width: 100%;
  padding: 0 !important;
  .slide {
    width: 100%;
    background: #393939;
  }
  img {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
  }
  img:after {
    content: "";
    padding-bottom: 100%;
  }
  #renderer {
    display: flex;
  }
  #renderer-phone {
    display: none;
  }
  #paginator {
    margin-top: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & * {
      margin: 0 50px;
      font-size: 48px;
      color: var(--yellow);
      &:disabled {
        color: var(--gray);
      }
    }
    #increment {
      cursor: pointer;
    }
    #decrement {
      cursor: pointer;
    }
    #currentPage {
    }
    button {
      border: none;
      background: none;
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.3s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
}
</style>
