<template>
  <div id="collection" class="container-fluid observablePos">
    <div class="container p110">
      <div class="row">
        <div class="col yellow">
          <h2>Sbírka pro <i>Eddieho</i></h2>
        </div>
      </div>
      <div class="row">
        <div class="col greyed responsive-text-18 lh20">
          Rodiče <i>Eddieho</i> jsou vděčni za jakoukoliv pomoc.
        </div>
      </div>

      <div class="row mt70" id="collection-content">
        <div class="col-6 lh36">
          <div>
            <b
              ><a
                href="https://www.rb.cz/povinne-zverejnovane-informace/transparentni-ucty?mvcPath=transactions&accountNumber=1117771700&path=transactions"
                target="_blank"
                >Číslo&nbsp;transparentního&nbsp;účtu:</a
              ></b
            >&nbsp;1117771700/5500<br />
            <b>IBAN:</b> CZ4155000000001117771700 <br />
            <b> SWIFT:</b> RZBCCZPP <br />
            <b>Variabilní symbol: </b> 3030 <br />
            <b>Do zprávy pro příjemce napiště: </b> <i>Eddie</i>
            <br />
            <span class="fineprint mt15">
              (Min. částka pro zahraniční platby je 15 EUR nebo 20 USD, kvůli
              poplatkům bance.)
            </span>
          </div>
        </div>
        <div class="col-2">
          <b>QR kód:</b>
          <div class="mt15">
            <img
              id="qr"
              src="@/assets/images/qr.png"
              alt="QR kód pro platbu na sbírku."
            />
          </div>
        </div>
        <div class="col-3 offset-1 fineprint">
          <div>
            <a
              target="_blank"
              href="https://portal.pohoda.cz/dane-ucetnictvi-mzdy/dan-z-prijmu/dary-jako-odcitatelna-polozka-od-zakladu-dane/"
            >
              <b>
                Všechny dary do sbírky, které Eddiemu zašlete jsou odčitatelná
                položka od základu daně.</b
              ></a
            >

            Potvrzení o přijetí daru k daňovému odpočtu Vám po
            <a
              target="_blank"
              href="http://www.zivotdetem.cz/formulare/potvrzeni-prijeti-daru/"
              ><b>vyplnění formuláře</b></a
            >
            ráda vystaví
            <a target="_blank" href="https://www.zivotdetem.cz/"
              ><b>o.p.s. Život dětem.</b></a
            >
          </div>
          <div>
            Sbírka probíhá pod záštitou
            <a target="_blank" href="https://www.zivotdetem.cz/"
              ><b>o.p.s. Život dětem,</b></a
            >
            sbírkové povolení <b>Č.J. S-MHMP/988162/2014</b>
          </div>
        </div>
        <div class="row mt70">
          <div class="col yellow f36">Stav sbírky</div>
        </div>
        <div class="row align-items-center">
          <div class="col" id="collection-line">
            <div id="collection-line-bg">&nbsp;</div>
            <div id="collection-line-fg" ref="line">
              <div id="collection-line-dot">&nbsp;</div>
            </div>
          </div>
          <div id="collectedPercentage" class="col-1">
            <div id="collectedPercentageContent">
              <b>{{ collectedPercentage }}&nbsp;%</b>
            </div>
          </div>
        </div>
        <div class="row mt15">
          <div class="col">
            Vybraná částka je momentálně
            <span id="collectedAmount">
              <b>{{ numberWithSpaces(collectedAmount) }},- Kč</b></span
            >
          </div>
          <div class="col right">
            Cílová částka je&nbsp;
            <!-- VYBRANYCH PENEZ MUZE BYT VICE NEZ JE CILOVA CASTKA! -->
            <span id="collectedGoal">
              <b>{{ numberWithSpaces(collectedGoal) }},- Kč</b>
            </span>
          </div>
        </div>
      </div>
      <div id="collection-content-mobile">
        <div class="row mt70">
          <div class="col">
            <a
              href="https://www.rb.cz/povinne-zverejnovane-informace/transparentni-ucty?mvcPath=transactions&accountNumber=1117771700&path=transactions"
              target="_blank"
              ><b>Číslo&nbsp;transparentního&nbsp;účtu:</b></a
            >&nbsp;1117771700/5500<br />
            <b>IBAN:</b> CZ4155000000001117771700 <br />
            <b> SWIFT:</b> RZBCCZPP <br />
            <b>Variabilní symbol: </b> 3030 <br />
            <b>Do zprávy pro příjemce napiště: </b> <i>Eddie</i>
          </div>
        </div>
        <div class="row">
          <div class="col fineprint">
            (Min. částka pro zahraniční platby je 15 EUR nebo 20 USD, kvůli
            poplatkům bance.)
          </div>
        </div>
        <div class="row mt70">
          <div id="qrCol" class="col">
            <b>QR kód:</b>

            <img
              class="mt15"
              id="qrP"
              src="@/assets/images/qr.png"
              alt="QR kód pro platbu na sbírku."
            />
          </div>
        </div>
        <div class="row mt70">
          <div class="col yellow f36 responsive-text-24">Stav sbírky</div>
        </div>
        <div class="row mt30">
          <div class="col responsive-text-12">
            Cílová částka je&nbsp;
            <!-- VYBRANYCH PENEZ MUZE BYT VICE NEZ JE CILOVA CASTKA! -->
            <span id="collectedGoal">
              <b>{{ numberWithSpaces(collectedGoal) }},- Kč</b>
            </span>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col" id="collection-line">
            <div id="collection-line-bg">&nbsp;</div>
            <div id="collection-line-fg" ref="linePhone">
              <div id="collection-line-dot">&nbsp;</div>
            </div>
          </div>
          <div id="collectedPercentage" class="col-1 responsive-text-12">
            <div id="collectedPercentageContent">
              <b>{{ collectedPercentage }}&nbsp;%</b>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col responsive-text-12">
            Vybraná částka je momentálně
            <span id="collectedAmount">
              <b>&nbsp;{{ numberWithSpaces(collectedAmount) }},- Kč</b></span
            >
          </div>
        </div>
        <div class="row">
          <div class="col fineprint" id="paymentFineprint">
            <div>
              <a
                target="_blank"
                href="https://portal.pohoda.cz/dane-ucetnictvi-mzdy/dan-z-prijmu/dary-jako-odcitatelna-polozka-od-zakladu-dane/"
              >
                <b>
                  Všechny dary do sbírky, které Eddiemu zašlete jsou odčitatelná
                  položka od základu daně.</b
                ></a
              >
              <div>Potvrzení o přijetí daru k daňovému odpočtu Vám po</div>

              <a
                target="_blank"
                href="http://www.zivotdetem.cz/formulare/potvrzeni-prijeti-daru/"
                ><b>vyplnění formuláře</b></a
              >
              ráda vystaví
              <a target="_blank" href="https://www.zivotdetem.cz/"
                ><b>o.p.s. Život dětem.</b></a
              >
            </div>
            <div>
              Sbírka probíhá pod záštitou
              <a target="_blank" href="https://www.zivotdetem.cz/"
                ><b>o.p.s. Život dětem,</b></a
              >
              sbírkové povolení <b>Č.J. S-MHMP/988162/2014</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from "../api.js";
export default {
  data() {
    return {
      collectedAmount: 0,
      collectedGoal: 3000000,
      movingCollectedAmount: 0,
    };
  },

  mounted() {
    api.getCollected((amount) => {
      this.collectedAmount = amount;
    });
  },
  computed: {
    collectedPercentage() {
      return Math.ceil(100 * Number(this.collectedAmount / this.collectedGoal));
    },
    collectedPercentagePrecise() {
      return Number(this.collectedAmount / this.collectedGoal);
    },
  },
  watch: {
    collectedPercentage(val) {
      if (val > 98) {
        val = 98;
      }
      this.$refs.line.style.width = `${val}%`;
      this.$refs.linePhone.style.width = `${val}%`;
    },
  },
  methods: {
    numberWithSpaces(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    },
  },
};
</script>

<style scoped lang="scss">
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-down(lg) {
  #collection {
    a {
      color: inherit;
    }
    * {
      text-align: center;
    }
    .p110 {
      padding: 40px 10px 50px 10px !important;
    }
    .mt70 {
      margin-top: 24px !important;
    }
    h2 {
      margin-top: 0;
      font-size: 30px !important;
    }

    .responsive-text-18 {
      padding: 0 24px;
      margin: 0;
      font-size: 18px;
      line-height: 24px;
    }
    .responsive-text-24 {
      font-size: 24px;
      line-height: 24px;
    }
    #collection-content-mobile {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      * {
        line-height: 30px;
      }
      #qrCol {
        display: flex;
        flex-direction: column;
        align-items: center;
        #qrP {
          width: 130px;
          height: 130px;
        }
      }
      a {
        color: inherit;
      }
      #collectedAmount {
        width: 1px;
      }
      #collection-line {
        height: 12px;
      }
    }
    #collection-content {
      display: none;
    }

    .fineprint {
      font-size: 12px;
      margin-top: 16px;
      line-height: 12px;
    }

    .responsive-text-12 {
      font-size: 12px;
      line-height: 24px;
    }
  }
}

#collection-content-mobile {
  display: none;
}

#collection {
  background-color: var(--bggray);
  a {
    color: inherit;
  }
  #collection-line {
    position: relative;
  }
  #collection-line-bg {
    position: relative;
    top: 0;
    left: 0;
    height: 12px;
    border-radius: 6px;
    background-color: var(--lightgray);
  }

  #collection-line-fg {
    position: absolute;
    top: 0;
    width: 1%;
    height: 12px;
    border-radius: 6px;
    background-color: var(--yellow);
    transition: all 2s ease;
    #collection-line-dot {
      position: absolute;
      top: -5.5px;
      right: 0px;
      height: 22px;
      width: 22px;
      border-radius: 16px;
      border: 3px solid var(--lightgray);
      background-color: var(--green);
    }
  }
  #collectedAmount {
    color: var(--green);
  }
  #collectedPercentage {
    inline-size: min-content;
  }
  .fineprint {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    color: var(--gray);
    a {
      color: inherit;
    }
  }
  #qr {
    width: 170px;
    height: 170px;
  }
}
</style>
