<template>
  <div id="counter-edit">
    <div style="margin-top: 30px;">Kolik bylo vybráno peněz (v Kč)?</div>
    <input step="50" type="number" v-model="collectedAmount" />
    <div><button @click="save">Uložit</button></div>
  </div>
</template>

<script>
import api from "@/api.js"
const setCollected = api.setCollected;
export default {
  data() {
    return {
      collectedAmount: Number,
    };
  },
  methods: {
    save() {
      setCollected(this.collectedAmount);
    }
  },
};
</script>

<style scoped lang="scss">
#counter-edit {  
  * {
    font-size: 32px;
  }
}
</style>
