<template>
  <div id="footer" class="container-fluid observablePos p110">
    &nbsp;
    <div id="footer-after" class="container lh48">
      <div class="row">
        <div class="col-6 hide-mobile">
          <h4 class="yellow">
            Údaje pro poslání daru
          </h4>
          <div class="mt70">
            <b>Číslo transparentního účtu:</b> 1117771700/5500 <br />
            <b>IBAN:</b> CZ4155000000001117771700 <br />
            <b> SWIFT:</b> RZBCCZPP <br />
            <b>Variabilní symbol: </b> 3030 <br />
            <b>Do zprávy pro příjemce napiště: </b> <i>Eddie</i>
            <div class="fineprint gray">
              (Min. částka pro zahraniční platby je 15 EUR nebo 20 USD, kvůli
              poplatkům bance.)
            </div>
          </div>
        </div>
        <div class="col">
          <h4 class="yellow">
            Kontakty
          </h4>
          <div class="mt70">
            <div>Kontakt na maminku <i>Eddieho</i></div>
            <div class="gray"><a target="_blank" href="tereza.kubesova@seznam.cz">tereza.kubesova@seznam.cz</a></div>
            <div>Kontakt na Život dětem o.p.s.</div>
            <div class="gray"><a target="_blank" href="anna.strnadova@zivotdetem.cz">anna.strnadova@zivotdetem.cz</a></div>
            <div>Odkaz na webové stránky Život dětem o.p.s.</div>
            <a target="_blank" href="https://www.zivotdetem.cz" class="gray">zivotdetem.cz</a>
          </div>
        </div>
        <div class="col">
          <h4 class="yellow">
            Sociální média
          </h4>
          <div class="mt70">
            <div>Odkaz na Facebook Život dětem o.p.s.</div>
            <a target="_blank" class="gray" href="https://www.facebook.com/www.zivotdetem.cz"
              >facebook.com/www.zivotdetem.cz
            </a>
            <div>Odkaz na Twitter Život dětem o.p.s.</div>
            <a target="_blank" class="gray" href="https://www.twitter.com/zivotdetem"
              >twitter.com/zivotdetem
            </a>
          </div>
        </div>
      </div>
      <div class="row mt110">
        <div class="col yellow">
          <div id="copyright">
             © 2021 <i>o.p.s. Život dětem </i>
          </div>
        </div>
      </div>
    </div>
    <div id="footer-after-mobile" class="container">
      <div class="row mt15">
        <div class="col">
          <h4 class="yellow">
            Sociální média
          </h4>
          <div class="responsive-text-12">
            <div>Odkaz na Facebook Život dětem o.p.s.</div>
            <a target="_blank" class="gray" href="https://www.facebook.com/www.zivotdetem.cz"
              >facebook.com/www.zivotdetem.cz
            </a>
            <div>Odkaz na Twitter Život dětem o.p.s.</div>
            <a target="_blank" class="gray" href="https://www.twitter.com/zivotdetem"
              >twitter.com/zivotdetem
            </a>
          </div>
        </div>
      </div>
      <div class="row mt30">
        <div class="col">
          <h4 class="yellow">
            Kontakty
          </h4>
          <div class="mt70 responsive-text-12">
            <div>Kontakt na maminku <i>Eddieho</i></div>
            <div class="gray"><a target="_blank" href="tereza.kubesova@seznam.cz">tereza.kubesova@seznam.cz</a></div>
            <div>Kontakt na Život dětem o.p.s.</div>
            <div class="gray"><a target="_blank" href="anna.strnadova@zivotdetem.cz">anna.strnadova@zivotdetem.cz</a></div>
            <div>Odkaz na webové stránky Život dětem o.p.s.</div>
            <a target="_blank" href="https://www.zivotdetem.cz" class="gray">zivotdetem.cz</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col responsive-text-12">
          <div id="copyright" class="yellow">
            © 2021 <i>o.p.s. Život dětem</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-down(lg) {
  .p110 {
    padding: 40px 10px;
  }
  #footer-after {
    display: none;
  }
  #footer-after-mobile {
    display: flex !important;
    flex-direction: column;
    * {
      text-align: center;
    }

    a {
      color: inherit;
    }
    .mt70 {
      margin-top: 24px !important;
    }
    .mt110 {
      margin-top: 0 !important;
    }
    h2 {
      margin-top: 0;
      font-size: 30px !important;
    }
    h4 {
      font-size: 24px !important;
    }
    .responsive-text-18 {
      padding: 0 24px;
      margin: 0;
      font-size: 18px;
      line-height: 24px;
    }
    .responsive-text-24 {
      font-size: 24px;
      line-height: 24px;
    }
    .responsive-text-12 {
      font-size: 12px;
      line-height: 24px;
    }
    .hide-mobile {
      display: none;
    }
    & #copyright {
      margin-top: 50px;
    }
  }
}

#footer {
  .gray {
    color: #7b7b7b !important;
  }
  background-color: black;
  color: white;
  #footer-after-mobile {
    display: none;
  }
  #footer-after {
    & #copyright {
      margin-top: 200px;
      text-align: center;
    }
    a {
      color: inherit;
    }
  }
}
</style>
