<template>
  <div id="gallery-wrapper" class="container-fluid observablePos">
    <div id="gallery" class="container p110">
      <div class="row">
        <div class="col">
          <h2 class="yellow">Galerie</h2>
          <div class="greyed responsive-text-18 lh20">
            Poznejte více život malého Eddieho
          </div>
        </div>
      </div>
      <div class="row mt70">
        <div class="col" id="gallery-pick">
          <b id="gallery-pick-category">Kategorie:</b>
          <div id="gallery-pick-switch">
            <div
              :class="{ active: category === 'before' }"
              class="gallery-pick-button"
              @click="showBefore"
            >
              Před&nbsp;nemocí
            </div>
            <div class="vertical-line">&nbsp;</div>
            <div
              :class="{ active: category === 'after' }"
              class="gallery-pick-button"
              @click="showAfter"
            >
              Po&nbsp;onemocnění
            </div>
          </div>
        </div>
      </div>
      <div class="row mt70" id="gallery-pick-mobile">
        <div class="col">
          <select id="select" @change="saveCategory">
            <option value="before">PŘED&nbsp;NEMOCÍ</option>
            <option value="after">PO&nbsp;ONEMOCNĚNÍ</option>
          </select>
        </div>
      </div>
      <div id="gallery-view">
        <div class="row gallery-row">
          <div class="col">
            <Carousel
              :category="category"
              :imageObjects="imageObjects"
            ></Carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Carousel from "@/components/Carousel.vue";
export default {
  data() {
    return {
      imageObjects: [],
      category: "before",
    };
  },
  methods: {
    saveCategory(ev) {
      this.category = ev.target.value;
    },
    showBefore() {
      this.category = "before";
    },
    showAfter() {
      this.category = "after";
    },
  },
  mounted() {
    let result = [];
    for (let i = 1; i < 12; i++) {
      result.push({
        src: require("@/assets/images/before/s_thumb_" + i + ".jpg"),
        category: "before",
        alt: "Eddie",
      });
    }
    for (let i = 1; i < 18; i++) {
      result.push({
        src: require("@/assets/images/after/s_thumb_" + i + ".jpg"),
        category: "after",
        alt: "Eddie",
      });
    }
    this.imageObjects = result;
  },
  components: {
    Carousel,
  },
};
</script>

<style scoped lang="scss">
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-down(lg) {
  .p110 {
    padding: 40px 10px 50px 10px !important;
  }
  #gallery {
    display: flex !important;
    flex-direction: column;
    * {
      text-align: center;
    }

    .mt70 {
      margin-top: 24px !important;
    }
    .mt110 {
      margin-top: 0 !important;
    }
    h2 {
      margin-top: 0;
      font-size: 30px !important;
    }
    h4 {
      font-size: 24px !important;
    }
    .responsive-text-18 {
      padding: 0 24px;
      margin: 0;
      font-size: 18px;
      line-height: 24px;
    }
    .responsive-text-24 {
      font-size: 24px;
      line-height: 24px;
    }
    .responsive-text-12 {
      font-size: 12px;
      line-height: 24px;
    }
    #gallery-pick {
      display: none !important;
    }
    #gallery-pick-mobile {
      display: inherit !important;
      #select {
        color: var(--yellow);
        border-radius: 999px;
        text-align: -webkit-center;
        border: 3px solid var(--yellow);
        width: 100%;
        height: 35px;
        background: none !important;
        font-size: 16px !important;
        text-align-last: center !important;
        font-weight: bold;
        letter-spacing: 1.5px;
      }
    }
    #gallery-view {
    }
  }
}

#gallery-wrapper {
  background-color: var(--bggray);
  #gallery {
    #gallery-pick-mobile {
      display: none;
    }

    #gallery-pick {
      display: flex;
      flex-direction: row;
      height: 26px;
      #gallery-pick-category {
        width: 13%;
        font-size: 22px;
        line-height: 22px;
      }
      #gallery-pick-switch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 23%;
        line-height: 22px;
        .vertical-line {
          margin: auto;
          height: 70%;
          width: 0px;
          border-left: 1px solid black;
        }
        .gallery-pick-button {
          cursor: pointer;
          line-height: 22px;
        }
        .active {
          font-weight: bolder;
          transition: all 0.1s;
        }
      }
    }

    #gallery-view {
      margin-top: 40px;
      .gallery-row {
        #carousel {
          width: 100%;
        }
      }
      .gallery-row:nth-child(2) {
        margin-top: 25px;
      }
    }
  }
}
</style>

<style lang="scss">
</style>
