<template>
  <div class="container-fluid observablePos" id="wrapper-hero">
    <div class="container lh36 p110" id="hero">
      <div class="row" id="hero-content">
        <div class="col">
          <div id="plea">
            <div class="min-h"><i>„Pomozte mi,</i></div>
            <div><i>&nbsp;prosím,</i></div>
            <div><i><span class="yellow">&nbsp;uzdravit se.</span>”</i></div>
          </div>
        </div>
      </div>
      <div id="hero-buttons" class="row mt110">
        <div class="col-3 button-col">
          <button id="hero-buttons-story" @click="goStory" class="upper">
            <b>můj příběh</b>
          </button>
        </div>
        <div class="col-3">
          <button id="hero-buttons-help" @click="goCollection" class="upper">
            <b>chci pomoci</b>
          </button>
        </div>
      </div>
    </div>
    <div class="container" id="hero-min">
      <div id="plea">
        <div class="row">
          <div class="col lh48 mt70">
            <i
              >„Pomozte mi,<br />
              prosím,<br />
              <span class="yellow"> uzdravit se.</span>”
            </i>
          </div>
        </div>
      </div>

      <div id="hero-buttons">
        <div class="row">
          <div class="col">
            <button id="hero-buttons-help" @click="goCollection" class="upper">
              <b>chci pomoci</b>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button id="hero-buttons-story" @click="goStory" class="upper">
              <b>můj příběh</b>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-down(lg) {
  #wrapper-hero {
    padding-top: 0 !important;
    background-position: 73% top !important;
    #hero {
      display: none;
    }
    #hero-min {
      width: 100%;
      padding: 15px 50px;
      color: white;
      text-align: center;
      #plea {
        font-size: 42px;
        margin-top: 230px;
      }
      #hero-buttons {
        margin-top: 30px;
        button {
          width: 180px;
          height: 30px;
          border-radius: 999px;
          letter-spacing: 1px;
          font-size: 14px;
        }
        #hero-buttons-help {
          border: none;
          background-color: var(--yellow);
          color: black;
        }
        #hero-buttons-story {
          margin: 20px 0;
          background: none;
          color: white;
          border: 2px solid white;
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  #wrapper-hero {
    position: relative;
    top: 100px;
    #hero-min {
      display: none;
    }
  }
}

#wrapper-hero {
  background-image: url("../assets/images/hero.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
#hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 960px;

  #hero-content {
    color: white;
    #plea {
      height: 330px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 100px;
      line-height: 80px;
      * {
        height: 80px;
      }
      
    }
  }

  #hero-buttons {
    button {
      width: 80%;
      height: 55px;
      border-radius: 9999px;
    }
    #hero-buttons-story {
      background: none;
      border: 3px solid white;
      color: white;
      letter-spacing: 2.5px;
    }
    #hero-buttons-help {
      background: var(--yellow);
      border: 3px solid var(--yellow);
      color: black;
      letter-spacing: 2.5px;
    }
  }
}
</style>

<script>
export default {
  methods: {
    goStory() {
      this.scrollY(this.getYPos("story"));
    },
    goCollection() {
      this.scrollY(this.getYPos("collection"));
    },
    getYPos(comp) {
      return (
        document.getElementById(comp).getBoundingClientRect().y + window.scrollY
      );
    },
    scrollY(top) {
      window.scrollTo({
        behavior: "smooth",
        top: top,
      });
    },
  },
};
</script>
