<template>
  <div id="maximizer">
    <button
      class="maximizerButton"
      id="decrementZoomed"
      @click="savePrevImgSrc"
      :disabled="loading || Number(reqObjNumber) === 1"
    >
      &lt;
    </button>
    <div id="imageWrapper">
      <img
        :src="loading ? requireThumbnail(reqObjNumber) : imgSrc"
        :alt="imageObj.alt"
      />
      <div id="closeBtn" @click="closeMaximizer" />
      <div id="pageCounter">
        <span class="yellow">{{ padNumber(reqObjNumber) }}</span
        >/{{ currentCategoryLength }}
      </div>
    </div>

    <div id="sliderWrapper">
      <div id="slider" ref="slider" class="keen-slider">
        <div id="closeBtn" @click="closeMaximizer" />
        <div
          v-for="n in currentCategoryLength"
          :key="'slide' + n"
          class="keen-slider__slide"
          :class="'number-slide' + n"
        >
          <img
            v-if="reqObjNumber === n"
            :src="loading ? requireThumbnail(reqObjNumber) : imgSrc"
            :alt="imageObj.alt"
          />
          <img v-else :src="requireThumbnail(n)" :alt="imageObj.alt" />
        </div>
        <div id="pageCounter">
          <span class="yellow">{{ padNumber(this.reqObjNumber) }}</span
          >/{{ currentCategoryLength }}
        </div>
      </div>
    </div>

    <button
      class="maximizerButton"
      id="incrementZoomed"
      @click="saveNextImgSrc"
      :disabled="loading || currentCategoryLength === Number(reqObjNumber)"
    >
      &gt;
    </button>
  </div>
</template>

<script>
import api from "@/api";
import "keen-slider/keen-slider.min.css";
import KeenSlider from "keen-slider";

export default {
  data() {
    return {
      loading: true,
      imgSrc: "",
      reqObjNumber: 1,
      slider: Object,
      sliderOptions: Object,
    };
  },
  props: {
    imageObj: {
      src: String,
      alt: String,
      category: String,
    },
    category: {
      type: String,
      default: "before",
    },
  },
  mounted() {
    this.body = document.querySelector("html");
    this.body.classList.add("disable-scroll-y");
    let reqObj = this.toReqObj(this.imageObj);
    this.reqObjNumber = Number(reqObj.number);
    this.saveImageSrc();
    window.addEventListener("keyup", (ev) => {
      if (ev.key === "Escape") {
        this.$emit("closed");
      }
    });
    this.initSliderOptions();
    this.slider = new KeenSlider(this.$refs.slider, this.sliderOptions);
  },
  beforeDestroy() {
    this.body.classList.remove("disable-scroll-y");
    if (this.slider) this.slider.destroy();
    
  },
  computed: {
    currentCategoryLength() {
      return this.category === "before" ? 11 : 17;
    },
  },
  methods: {
    padNumber(number) {
      return String(number).padStart(2, "0");
    },
    requireThumbnail(number) {
      return require("@/assets/images/" +
        this.category +
        "/s_thumb_" +
        number +
        ".jpg");
    },
    initSliderOptions() {
      let n  = Number(this.reqObjNumber) - 1;
      this.sliderOptions = {
        initial: n,
        beforeChange: (slider) => {
          let direction = slider.details().direction;
          if (direction > 0) {
            this.saveNextImgSrc();
          } else if (direction < 0) {
            this.savePrevImgSrc();
          }
        },
      };
    },
    closeMaximizer() {
      this.$emit("closed");
    },
    savePrevImgSrc() {
      if (this.reqObjNumber === 1) {
        return;
      }
      this.loading = true;
      this.reqObjNumber--;
      api.getImage(this.imageObj.category, this.reqObjNumber, (url) => {
        this.imgSrc = url;
        this.loading = false;
      });
    },
    saveNextImgSrc() {
      if (this.currentCategoryLength === this.reqObjNumber) {
        return;
      }
      this.loading = true;
      this.reqObjNumber++;
      api.getImage(this.imageObj.category, this.reqObjNumber, (url) => {
        this.imgSrc = url;
        this.loading = false;
      });
    },
    saveImageSrc() {
      this.loading = true;
      api.getImage(this.imageObj.category, this.reqObjNumber, (url) => {
        this.imgSrc = url;
        this.loading = false;
      });
    },
    toReqObj(imageObj) {
      let reqObj = {
        category: imageObj.category,
        number: imageObj.src.split("_")[2].split(".")[0],
      };
      return reqObj;
    },
  },
};
</script>

<style>
.disable-scroll-y {
  overflow: hidden;
}
</style>

<style scoped lang="scss">
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-down(lg) {
  #maximizer {
    .maximizerButton {
      display: none;
    }
    #imageWrapper {
      display: none !important;
    }
    #sliderWrapper {
      display: flex !important;
      flex-direction: column;
      #slider {
        width: 90vw;
        #closeBtn {
          position: absolute;
          height: 15px;
          width: 15px;
          border: none;
          z-index: 999;
        }
        [class^="number-slide"],
        [class*=" number-slide"] {
          background: grey;
          display: flex;
          align-items: center;
          font-size: 50px;
          color: #fff;
          font-weight: 500;
          max-height: 100vh;
          img {
            object-fit: contain;
            width: 100%;
          }
        }
      }
      #pageCounter {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 12px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #sliderWrapper {
    display: none !important;
  }
  #imageWrapper {
    display: flex;
  }
}

#maximizer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($color: #000000, $alpha: 0.5);
  backdrop-filter: blur(3px);
  .maximizerButton {
    background: none;
    border: none;
    font-size: 60px;
    padding: 25px;
    color: var(--bggray);
    transition: 0.3s opacity ease;
    &:disabled {
      opacity: 0.3;
    }
  }
  #imageWrapper {
    position: relative;
    display: flex;
    width: 80vh;
    max-height: 80vh;
    object-fit: contain;
    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .loading {
    opacity: 0;
  }
  #closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--bggray);
    color: var(--bggray);
    border-radius: 6px;
    background: none;
    line-height: 30px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    &::after {
      content: "x";
      transform: scale(1.2) translateY(-3px);
    }
  }
  #pageCounter {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 8px;
    right: 15px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
