<template>
  <div
    class="container-fluid"
    id="nav-wrapper"
    :class="{ invertedColors: menuOpen }"
  >
    <div class="container">
      <div class="row align-items-center" id="nav">
        <div class="col-1 logoCol">
          <img src="@/assets/images/logo.png" alt="logo" />
          <h1 id="nav-h1">
            <b>Uzdravení&nbsp;pro&nbsp;Eddieho</b>
          </h1>
        </div>

        <div class="navCol col-7">
          <div class="nav-link-custom nav-link-home" @click="goHome">
            <b :class="{ active: activeSection === 'wrapper-hero' }">DOMŮ</b>
          </div>
          <div class="nav-link-custom nav-link-story" @click="goStory">
            <b :class="{ active: activeSection === 'story' }"
              >MŮJ&nbsp;PŘÍBĚH</b
            >
          </div>
          <div
            class="nav-link-custom nav-link-collection"
            @click="goCollection"
          >
            <b :class="{ active: activeSection === 'collection' }">SBÍRKA</b>
          </div>
          <div class="nav-link-custom nav-link-news" @click="goNews">
            <b :class="{ active: activeSection === 'news' }">AKTUALITY</b>
          </div>
          <div class="nav-link-custom nav-link-gallery" @click="goGallery">
            <b :class="{ active: activeSection === 'gallery-wrapper' }"
              >GALERIE</b
            >
          </div>
          <div class="nav-link-custom nav-link-footer" @click="goFooter">
            <b :class="{ active: activeSection === 'footer' }">KONTAKT</b>
          </div>
          <div class="nav-link-custom nav-link-socials">
            <a
              target="_blank"
              href="https://www.facebook.com/www.zivotdetem.cz"
            >
              <img src="@/assets/images/facebook-black.svg" alt="facebook" />
            </a>

            <a target="_blank" href="https://instagram.com/zivotdetem">
              <span id="nav-link-socials-ig">
                <img src="@/assets/images/instagram-black.svg" alt="instagram"
              /></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row align-items-center" id="nav-min">
        <div class="col-1 yellow logoCol" id="logo">
          <img src="@/assets/images/logo.png" alt="logo" />
        </div>
        <div class="col h1Col">
          <h1 id="nav-h1">
            <b>Uzdravení&nbsp;pro&nbsp;Eddieho</b>
          </h1>
        </div>
        <div class="col-1" id="burgerCol">
          <transition name="fade">
            <div v-if="!menuOpen" id="burger" @click="openMenu">
              <div class="burger-layer">&nbsp;</div>
              <div class="burger-layer">&nbsp;</div>
              <div class="burger-layer">&nbsp;</div>
            </div>
            <div v-else id="burger-close" @click="closeMenu">x</div>
          </transition>
        </div>
      </div>
    </div>
    <transition name="fade">
      <div v-if="menuOpen" class="container-fluid" id="menuWrapper">
        <div id="menu">
          <div @click="goStory">můj příběh</div>
          <div @click="goCollection">sbírka</div>
          <div @click="goNews">aktuality</div>
          <div @click="goGallery">galerie</div>
          <div @click="goFooter">kontakt</div>
          <div class="menu-socials">
            <a target="_blank" href="https://www.facebook.com/www.zivotdetem.cz"
              ><img
                class="social-svg"
                src="@/assets/images/facebook-white.svg"
                alt="facebook"
            /></a>
            <a target="_blank" href="https://instagram.com/zivotdetem">
              <img
                class="social-svg"
                src="@/assets/images/instagram-white.svg"
                alt="instagram"
              />
            </a>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<style scoped lang="scss">
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-down(lg) {
  .invertedColors {
    color: white;
    background-color: var(--darkgray) !important;
  }
  #nav {
    display: none !important;
  }
  #menuWrapper {
    position: absolute;
    top: 49px;
    left: 0;
    z-index: 999;
    padding: 0;
    #menu {
      padding: 50px 0px;
      text-transform: uppercase;
      background-color: var(--darkgray);
      color: white;
      display: flex;
      flex-direction: column;
      height: 450px;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      font-size: 12px;
      letter-spacing: 1px;

      .menu-socials {
        a {
          padding: 10px;
          text-decoration: none;
          img {
            height: 15px;
            width: 15px;
          }
        }
      }
    }
  }
  #nav-min {
    height: 50px;
    .h1Col {
      margin: 0 !important;
      padding: 0 !important;
    }
    #nav-h1 {
      font-size: 16px;
      padding: 0;
      margin: 0;
    }
    img {
      height: 30px;
      width: 30px;
    }
    #burgerCol {
      display: flex;
      justify-content: center;
      #burger {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .burger-layer {
          background-color: black;
          border-radius: 999px;
          height: 3px;
          width: 15px;
          margin: 1px 0;
        }
      }
      #burger-close {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 15px;
        color: #4d4d4d;
        font-weight: bold;
        transform: scaleX(1.5) scaleY(1.2);
      }
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: all 0.1s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
}

@include media-breakpoint-up(lg) {
  #nav-min {
    display: none;
  }
  #nav-wrapper {
    position: fixed;
  }
}

// @include media-breakpoint-up(xl) {
// }
// @include media-breakpoint-up(xxl) {
// }
#nav-wrapper {
  background: white;
  width: 100%;
  z-index: 999;

  #nav {
    background: white;
    z-index: 999;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1 {
      font-weight: bolder;
    }
    img {
      width: 60px;
    }
    #nav-h1 {
      line-height: 30px;
      font-size: 24px;
    }
    .nav-link-story {
      inline-size: min-content;
    }
    .nav-link-custom {
      transform: translateY(2px);
      height: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 1.5px;
      padding: 0 8px;
      cursor: pointer;
      text-align: center;
    }
    .active {
      opacity: 1;
      transform: translateY(1px);
      border-bottom: 2px solid black;
    }
    .nav-link-socials {
      transform: translateY(0px);
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      a {
        text-decoration: none;
        &:nth-child(1) {
          padding-right: 10px;
        }
        &:nth-child(2) {
          padding-left: 10px;
        }
        img {
          height: 14px;
          width: 14px;
        }
      }
    }
  }
  .logoCol {
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navCol {
    display: flex;
    justify-content: space-around;
  }
}
</style>

<script>
import throttle from "lodash/throttle";

export default {
  data() {
    return {
      menuOpen: false,
      yPositions: [],
      activeSection: "wrapper-hero",
    };
  },
  mounted() {
    this.observableElements = document.querySelectorAll(".observablePos");
    this.$nextTick(() => {
      this.updateYPositions();
    });
    this.throttledHandleScroll = throttle(this.handleScroll, 300, {
      trailing: true,
      leading: true,
    });
    window.addEventListener("scroll", this.throttledHandleScroll);
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.throttledHandleScroll);
  },
  methods: {
    handleScroll() {
      this.updateYPositions();
      this.setCurrentPosObj();
    },
    openMenu() {
      this.menuOpen = true;
    },
    closeMenu() {
      this.menuOpen = false;
    },
    goHome() {
      this.scrollY(0);
    },
    goStory() {
      this.closeMenu();
      this.scrollY(this.getYPos("story"));
    },
    goCollection() {
      this.closeMenu();
      this.scrollY(this.getYPos("collection"));
    },
    goNews() {
      this.closeMenu();
      this.scrollY(this.getYPos("news"));
    },
    goGallery() {
      this.closeMenu();
      this.scrollY(this.getYPos("gallery-wrapper"));
    },
    goFooter() {
      this.closeMenu();
      this.scrollY(this.getYPos("footer"));
    },
    getYPos(comp) {
      return (
        document.getElementById(comp).getBoundingClientRect().y + window.scrollY
      );
    },
    scrollY(top) {
      window.scrollTo({
        behavior: "smooth",
        top: top,
      });
    },
    updateYPositions() {
      this.yPositions = [];
      Object.values(this.observableElements).forEach((el) =>
        this.yPositions.push({
          comp: el.id,
          startPos: el.getBoundingClientRect().y + window.scrollY,
        })
      );
    },
    setCurrentPosObj() {
      let centerY = window.scrollY + Math.floor(window.innerHeight / 2);
      let currentPosObj = this.yPositions.find((posObj, idx, src) => {
        if (idx === 0) {
          return centerY <= src[idx + 1].startPos;
        } else if (idx === src.length - 1) {
          return src[idx - 1].startPos <= centerY;
        } else {
          return (
            centerY <= src[idx + 1].startPos && src[idx - 1].startPos <= centerY
          );
        }
      });
      this.activeSection = currentPosObj ? currentPosObj.comp : "wrapper-hero";
    },
  },
};
</script>
