<template>
  <div id="news" class="container p110 observablePos">
    <div class="row">
      <div class="col">
        <h2 class="yellow">Aktuality</h2>
      </div>
    </div>
    <div class="row">
      <div class="col greyed responsive-text-18 lh20">
        Nejnovější aktuality ze života malého <i>Eddieho</i> a jeho maminky.
      </div>
    </div>

    <div id="articles" class="container-fluid">
      <div v-for="(article, idx) in articles" :key="`r${idx}`" class="row">
        <div class="col" :key="`r${idx}`">
          <NewsArticle v-if="idx < shownArticles" :article="article" />
        </div>
      </div>
    </div>
    <div id="articlesMobile" class="container-fluid mt15">
      <div class="row">
        <div class="col">
          <div v-if="articlesLoaded">
            <NewsArticleMobile :article="this.articles[this.shownArticle]" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col" id="paginator">
          <button
            :disabled="shownArticle === 0"
            id="decrement"
            @click="decrement"
          >
            &lt;
          </button>

          <button
            :disabled="shownArticle === articles.length - 1"
            id="increment"
            @click="increment"
          >
            &gt;
          </button>
        </div>
      </div>
    </div>
    <transition name="fade">
      <button
        id="moreNews"
        @click="loadMoreNews"
        v-show="articles.length > shownArticles"
      >
        ZOBRAZIT&nbsp;VÍCE&nbsp;AKTUALIT
      </button>
    </transition>
  </div>
</template>

<script>
import NewsArticle from "@/components/NewsArticle";
import NewsArticleMobile from "@/components/NewsArticleMobile";
import api from "@/api.js";
export default {
  data() {
    return {
      articles: [],
      shownArticles: 2,
      loaded: false,
      shownArticle: 0,
      articlesLoaded: false,
    };
  },
  components: {
    NewsArticle,
    NewsArticleMobile,
  },
  mounted() {
    api.getArticles((articles) => {
      this.articles = articles.sort((a, b) => {
        if (this.czechDateToISO(a.date) - this.czechDateToISO(b.date) > 0) {
          return -1;
        } else {
          return 1;
        }
      });
      this.articlesLoaded = true;
      this.$nextTick(this.colorLastArticle);

      //lines[lines.length].style.background = "black";
    });
  },
  methods: {
    increment() {
      this.shownArticle++;
    },
    decrement() {
      this.shownArticle--;
    },
    loadMoreNews() {
      if (this.articles.length - this.shownArticles > 0) {
        if (this.articles.length - this.shownArticles === 1) {
          this.shownArticles++;
        } else if (this.articles.length - this.shownArticles === 2) {
          this.shownArticles += 2;
        } else {
          this.shownArticles += 2;
        }
        this.$nextTick(this.colorLastArticle);
      }
    },
    colorLastArticle() {
      document
        .querySelectorAll(".timeline-line-part")
        .forEach((line, idx, src) => {
          if (idx === src.length - 1) {
            line.classList.add("last");
          } else {
            line.classList.remove("last");
          }
        });
    },
    czechDateToISO(x) {
      x = x.split(".");
      return new Date(x[2], x[1] - 1, x[0]);
    },
  },
  computed: {
    getArticle() {
      return this.articles[this.shownArticle];
    },
  },
};
</script>

<style scoped lang="scss">
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-down(lg) {
  .p110 {
    padding: 40px 10px 50px 10px !important;
  }
  #news {
    #articles {
      display: none;
    }
    #articlesMobile {
      display: flex !important;
      flex-direction: column;
    }
    #moreNews {
      display: none !important;
    }
    * {
      text-align: center;
    }

    .mt70 {
      margin-top: 24px !important;
    }
    h2 {
      margin-top: 0;
      font-size: 30px !important;
    }

    .responsive-text-18 {
      padding: 0 24px;
      margin: 0;
      font-size: 18px;
      line-height: 24px;
    }
    .responsive-text-24 {
      font-size: 24px;
      line-height: 24px;
    }

    .responsive-text-12 {
      font-size: 12px;
      line-height: 24px;
    }
  }
  #paginator {
    margin-top: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & * {
      margin: 0 50px;
      font-size: 48px;
      color: var(--yellow);
      &:disabled {
        color: var(--gray);
      }
    }
    #increment {
      cursor: pointer;
    }
    #decrement {
      cursor: pointer;
    }
    #currentPage {
    }
    button {
      border: none;
      background: none;
    }
  }
}

#news {
  position: relative;
  #articles {
    margin-top: 70px;
  }
  #articlesMobile {
    display: none;
  }
  #moreNews {
    position: absolute;
    right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 15px 30px;
    background: none;
    color: var(--yellow);
    border: 3px solid var(--yellow);
    border-radius: 999px;
    .moreNews-dot {
      height: 3px;
      width: 3px;
      margin: 0 1px;
      border: 1px solid var(--yellow);
      border-radius: 999px;
      background: var(--yellow);
    }

    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 3s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
  }
}
</style>
