<template>
  <div class="row newsArticle">
    <div class="timeline col-1">
      <div class="timeline-line-part">
        &nbsp;
      </div>
      <div class="timeline-dot">
        <div class="timeline-dot-date">
          {{ this.article.date }}
        </div>
      </div>
    </div>

    <div class="col newsArticle-text pb15">{{ article.text }}</div>
    <div class="col newsArticle-images" v-for="n in 3" :key="n">
      <img
        :src="article.imagesData[n - 1]"
        :alt="article.imageAlts[n - 1]"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      imgContext: Object,
    };
  },
  props: {
    article: {
      text: String,
      imageSources: Array,
      imageAlts: Array,
      date: String,
    },
  },
};
</script>

<style scoped lang="scss">
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-down(xxl) {
  .newsArticle {
    .newsArticle-text {
      font-size: 14px !important;
    }
  }
  .pb15 {
    padding-bottom: 30px;
  }
}

.newsArticle {
  height: 100%;
  display: flex !important;
  position: relative;
  transition: all 1s ease;
  .newsArticle-text {
    line-height: 24px;
    font-size: 14px;
  }
  .newsArticle-images {
    padding-bottom: 64px;
  }
  img {
      padding-top: 4px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  .timeline {
    height: 100%;
    width: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .timeline-line-part {
      height: 100%;
      width: 7px;
      background: var(--lightgray);
    }
    .last {
      background: linear-gradient(to bottom, var(--lightgray) 80%, white);
    }
    .timeline-dot {
      position: absolute;
      top: -1px;
      height: 22px;
      width: 22px;
      border-radius: 999px;
      background-color: var(--yellow);
      border: 4px solid var(--lightgray);

      .timeline-dot-date {
        font-size: 24px;
        color: var(--gray);
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: relative;
        transform: rotate(270deg) translateY(-30px) translateX(13px);
      }
    }
  }
}
</style>
