<template>
  <div class="container-fluid newsArticle">
    <div class="row mt30">
      <div class="col newsArticle-images" v-for="n in 2" :key="n">
        <img
          :src="article.imagesData[n - 1]"
          :alt="article.imageAlts[n - 1]"
        />
      </div>
    </div>
    <div class="row mt30">
      <div class="col yellow ita" id="date">
        {{ article.date }}
      </div>
    </div>
    <div class="row mt30">
      <div class="col">
        <div class="newsArticle-text">{{ article.text }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      imgContext: Object,
    };
  },
  props: {
    article: {
      text: String,
      imagesData: Array,
      imageAlts: Array,
      date: String,
    },
  },
};
</script>

<style scoped lang="scss">
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-down(lg) {
  .newsArticle {
    img {
      width: 100%;
      object-fit: cover;
    }
    img:after {
      content: "";
      padding-bottom: 100%;
    }
  }
}

.newsArticle {
  #date {
    font-size: 36px;
  }
  display: flex !important;
  flex-direction: column;
  position: relative;
  transition: all 1s ease;
  .newsArticle-text {
    line-height: 24px;
    font-size: 12px;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
  img:after {
    content: "";
    padding-bottom: 100%;
  }
  .timeline {
    height: 100%;
    width: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .timeline-line-part {
      height: 100%;
      width: 7px;
      background: var(--lightgray);
    }
    .last {
      background: linear-gradient(to bottom, var(--lightgray) 80%, white);
    }
    .timeline-dot {
      position: absolute;
      top: 4px;
      height: 22px;
      width: 22px;
      border-radius: 999px;
      background-color: var(--yellow);
      border: 4px solid var(--lightgray);

      .timeline-dot-date {
        font-size: 24px;
        color: var(--gray);
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: relative;
        transform: rotate(270deg) translateY(-30px) translateX(15px);
      }
    }
  }
}
</style>
