<template>
  <div id="story" class="container-fluid observablePos">
    <div class="container p110">
      <div class="row">
        <div class="col">
          <h2 class="yellow">Co vše se může stát?</h2>
          <div class="greyed responsive-text-18 lh20">
            Příběh, který nenechá chladným nikoho z nás.
          </div>
        </div>
      </div>

      <!-- DESKTOP -->
      <div id="story-blocks-large">
        <div class="row mt70">
          <div class="col-3 hyphenated lh18">
            <p>
              <i>Ahoj.</i> Jmenuji se <i>Eddie</i> a velmi vás všechny prosím o
              pomoc, abych se mohl uzdravit. Na tomto světě jsem 4,5 roku.
              Prožíval jsem moc krásné dětství se
              <i>svými rodiči, mladším bráškou a mými kamarády ve školce.</i>
              Rád jsem jezdil na kole, chodil rybařit a na houby, měl jsem rád
              jakýkoliv pohyb a zvířátka. Až do osudného prázdninové dne, kdy
              začalo mé velké trápení.
            </p>

            <p>
              Vše se událo <b>17. srpna</b>, tomu však již předcházely tři dny,
              kdy mi nebylo dobře. Dva dny před osudným dnem jsem zvracel.
              Protože se o mě maminka bála, jela se mnou pro jistotu na
              pohotovost. Tam nás uklidnili, že se jedná jen o virózu a poslali
              nás domů. Také nám doporučili, pokud by se mi do druhého dne
              neudělalo, dobře, abychom jeli přímo na infekční oddělení.
            </p>
          </div>
          <div class="col-3 hyphenated lh18">
            <p>
              A mně dobře bohužel nebylo, stále jsem zvracel, byl jsem velmi
              unavený a stěžoval si <i>mamince</i> na bolesti hlavy, které mě
              také moc trápily. Proto se maminka rozhodla vrátit se se mnou zpět
              do nemocnice. Po mém přijetí lékaři usoudili, že se může jednat o
              <i>zánět mozkových blan</i>. Nevěděl jsem, co to je, jen jsem si
              moc přál, aby mé trápení už přestalo.
            </p>
            <p>
              Když se mě lékaři ptali, co mě bolí, byl jsem již tak vysílený, že
              jsem jim nedokázal odpovědět. Jen jsem v dálce slyšel, že mi budou
              dělat <i>lumbální punkci</i> a odběry na možné virové i
              bakteriální příčiny. Žádný virus se sice neprokázal,
              <i>ale lumbální punkce</i> nedopadla dobře, proto se lékaři
              rozhodli udělat mi <i>CT vyšetření mozku</i>. Moc jsem se bál co
              bude dál.
            </p>
          </div>
          <div class="col-3">
            <img src="@/assets/images/before/s_thumb_1.jpg" alt="Eddie před nemocí s rybou" />

            <div class="gray mt15 description">Fotografie: <b>Eddie před nemocí</b></div>
          </div>
          <div class="col-3 hyphenated lh18">
            <p>
              Když vyšetření skončilo, začali ke mě přicházet další a další
              doktoři. <i>Maminku</i> jsem neviděl, jen jsem slyšel sestřičku,
              jak jí řekla, že můj ošetřující lékař za ní za chvíli přijde.
            </p>
            <p>
              Výsledky vyšetření byly velmi špatné. Měl jsem masivní krvácení do
              mozku a krevní sraženinu v hlavní krční tepně. Museli mě okamžitě
              odvézt na sál, začít operovat a otevřít mi hlavičku, aby se měl
              otok mozku kam vyklenout, neutlačoval zbytek mozku a nenastala u
              mě <i>mozková smrt</i>. Operace trvala několik hodin.
              <i>Moje maminka</i> se zhroutila a musela být v péči odborníků,
              aby nabrala sílu na verdikt lékařů.
              Z operačního sálu přišel pan <i>neurochirurg</i> a
              <i>mamince</i> řekl, že operace technicky dopadla dobře,
            </p>
          </div>
        </div>
        <transition name="fade">
          <div v-if="fullStoryShown" class="row mt30">
            <div class="col-3 hyphenated lh18">
              <p>
                ale nález je obrovský. Můj mozek byl naplněn krví, proto začal
                boj o můj život. Každý den jsem dostával malé dávky léku na
                ředění krve a stále se čekalo, jak na něj budu reagovat. Mé
                šance na přežití zůstávaly malé.
              </p>
              <b>Přišlo se na příčinu mého onemocnění</b>
              <p>
                Byl tomu více než měsíc a já v nemocnici stále bojoval. Otok
                mozku začal ustupovat, ale lékaře znepokojovalo, proč mi mizí
                krevní destičky. Nakonec se příčina našla. Při dalších vyšetření
                se v mé krvi nalezly protilátky na
                <i>Covid-19</i>. Prodělal jsem ho prý bezpříznakově, přesto
                následky <i>postcovidového syndromu</i>, který u mě propukl,
                byly katastrofické. Ale já jsem svůj boj o život nevzdal. Otok
                se mi nakonec natolik zlepšil, že jsem mohl být probuzený z
                umělého spánku.
              </p>
            </div>
            <div class="col-3 hyphenated lh18">
              <img src="@/assets/images/after/s_thumb_9.jpg" alt="Eddie po operaci s maminkou." />
              <div class="gray mt15 description">
                Fotografie: <b>Eddie po operaci s maminkou</b>
              </div>
            </div>
            <div class="col-3 hyphenated lh18">
              <p>
                Jsem moc rád, že se pesimistické výhledy lékařů, že zůstanu
                zcela nepohyblivý, nenaplnily. Představte si, že jsem se
                postupně začal částečně hýbat a přetáčet se na bříško. Dokonce
                jsem se dokázal na svou maminku poprvé usmát, všem se tak
                vrátila naděje. Podle lékařů mám
                <i>pravoustrannou hemiparézu</i>, má pravá nožička je sice
                pohyblivá, ale kotník je na tom hůře, má pravá ručička je téměř
                nepohyblivá. Kvůli tomu, že jsem byl v umělém spánku a dlouho mě
                hospitalizovali, lékaři říkají, že mé svaly atrofovaly.
                Proto jsem se nemohl dlouho dobu postavit a nemohl jsem ani
                chodit, pohyboval jsem se pouze po kolínkách. I když jsem
                všechno vnímal, nemohl jsem bohužel téměř vůbec mluvit. Dokázal
                jsem říci pouze ano nebo ne.
              </p>
            </div>
            <div class="col-3 hyphenated lh18">
              <p>
                <i>Maminka</i> se mnou byla téměř dva měsíce ubytovaná v
                nemocnici. Chodil za mnou také můj <i>tatínek</i> a
                <i>mladší bráška Jamie</i>. Vždycky jsem je moc rád viděl, ale
                říci jsem jim to nedokázal. Všichni o mě s láskou pečovali a já
                měl obrovské přání, abych byl zase zdravý, abych mohl říci
                maminko, tatínku, bráško a mohl chodit, běhat, hrát si a být
                šťastný jako dříve. Podle lékařů mám to nejhorší za sebou.
                Dokonce mi mohla být operativně uzavřena hlavička, protože otok
                mozku mi téměř zmizel. Přesto je přede mnou ještě velký kus
                práce.
              </p>
              <b>Můj krátký návrat domů</b>
              <p>
                Nakonec jsme měli všichni velikou radost, že jsem byl propuštěný
                z nemocnice domů. Jsem moc šťastný, že jsem začal pomaličku
                chodit
              </p>
            </div>
          </div>
        </transition>
        <transition name="fade">
          <div v-if="fullStoryShown" class="row mt30">
            <div class="col-3 hyphenated  lh18">
              <p>
                a dokonce umím říci 7 slov. Mé přání se tak alespoň částečně
                splnilo, ale nastaly u mě velké problémy s hlasivkami. Proto
                jsem si domova, kde jsem byl tak moc rád, bohužel příliš neužil.
                Musel jsem být opět s maminkou hospitalizován. Má další diagnóza
                zní oboustranná paréza hlasivek <i>(obrna hlasivek)</i>. Protože
                bych mohl ze vteřiny na vteřinu zemřít udušením, musela mi být
                provedena <i>tracheostomie</i>. Jsem tak moc smutný, protože
                nevím, co vše se mi může ještě stát. Ale přesto všechno jsem
                velký bojovník a nevzdám se, udělám všechno proto, abych to
                zvládl a uzdravil se. Až se mi rána po tracheostomii zahojí,
                dostanu ještě mluvící kanylu a budu propuštěný z nemocnice domů.
              </p>
              <b>Co vše mě následně čeká</b>
              <p>
                Aby se mi zlepšila chůze a nehybnost ručičky, musím pravidelně
                cvičit a rehabilitovat. Abych se s pomocí mluvící kanyly
                rozpovídal a uměl
              </p>
            </div>

            <div class="col-3 hyphenated lh18">
              <p>
                říci více slov, musím chodit na <i>logopedii</i>. Na zlepšení mé
                mozkové činnosti mi byla doporučena léčebná metoda -
                <i>hyperbarická komora</i>. Pro celkové zlepšení mého zdravotní
                stavu musím podstoupit aplikace kmenovými buňkami. Lékaři mi
                dávají velkou naději, že bych se mohl téměř uzdravit. Dokonce
                bych mohl být i bez tracheostomie a normálně dýchat. To však
                obnáší intenzivní celoroční léčbu, kterou není možné uhradit ze
                zdravotního pojištění. Pro mé rodiče je to velmi těžké. I když
                již půl roku netvoříme úplnou rodinu, protože
                <i>maminka s tatínkem</i> žijí odděleně, z celého srdce mě
                milují a mají o mě velký strach. Také je velmi trápí, že nemají
                dostatek finančních prostředků na mou léčbu, která je a taky
                bude velmi drahá.
              </p>
              <p>
                Proto se moji rodiče rozhodli s pomocí
                <b>o.p.s. Život dětem</b> na mou roční léčbu vyhlásit sbírku.
                Náklady na léčení a zdravotní pomůcky, které
              </p>
            </div>
            <div class="col-3 hyphenated lh18">
              <img
                src="@/assets/images/after/s_thumb_16.jpg"
                alt="Eddie s bratříčkem Jamiem"
              />
              <div class="gray mt15 description">
                Fotografie: <b>Eddie s bratříčkem Jamiem</b>
              </div>
            </div>
            <div class="col-3 hyphenated lh18">
              <p>
                mi
                vrátí naději na uzdravení, činí v následném roce
                <b>3 000 000 Kč.</b> Společně s mými rodiči a mým bratříčkem Vám
                budeme
                <b
                  >nesmírně vděční za Vaši laskavou pomoc, která mi pomůže
                  uzdravit se, opět bez problémů chodit, mluvit, žít jako dříve
                  a být zase šťastný.</b
                >
              </p>
              <p>
                Prosíme, přispějte jakoukoliv částku na transparentní účet
                <b>1117771700/5500</b> pod <b>variabilním symbolem 3030,</b> a
                do poznámky napište <b>Eddie.</b>
              </p>
              <p>
                Se srdečným poděkováním za pomoc
                <b
                  ><i
                    >Eddie, maminka Terezka, tatínek Tomáš a bratříček Jamie.</i
                  ></b
                >
              </p>
            </div>
          </div>
        </transition>

        <div class="row mt30">
          <div class="col" id="fullStoryCol">
            <transition name="fade">
              <button
                v-if="!fullStoryShown"
                id="fullStory"
                @click="showFullStory"
              >
                <b>
                  ZOBRAZIT&nbsp;CELÝ&nbsp;PŘÍBĚH
                </b>
              </button>
            </transition>
          </div>
        </div>
      </div>

      <!-- MOBILE -->
      <div id="story-blocks-small" class="container-fluid">
        <div class="row mt30">
          <div class="col">
            <transition name="fade">
              <div class="hyphenated lh18">
                <p>
                  <i>Ahoj.</i> Jmenuji se <i>Eddie</i> a velmi vás všechny
                  prosím o pomoc, abych se mohl uzdravit. Na tomto světě jsem 4,5
                  roku. Prožíval jsem moc krásné dětství se
                  <i
                    >svými rodiči, mladším bráškou a mými kamarády ve školce.</i
                  >
                  Rád jsem jezdil na kole, chodil rybařit a na houby, měl jsem
                  rád jakýkoliv pohyb a zvířátka. Až do osudného prázdninové
                  dne, kdy začalo mé velké trápení.
                </p>

                <p>
                  Vše se událo <b>17. srpna</b>, tomu však již předcházely tři
                  dny, kdy mi nebylo dobře. Dva dny před osudným dnem jsem
                  zvracel. Protože se o mě maminka bála, jela se mnou pro
                  jistotu na pohotovost. Tam nás uklidnili, že se jedná jen o
                  virózu a poslali nás domů. Také nám doporučili, pokud by se mi
                  do druhého dne neudělalo, dobře, abychom jeli přímo na
                  infekční oddělení.
                </p>

                <p>
                  A mně dobře bohužel nebylo, stále jsem zvracel, byl jsem velmi
                  unavený a stěžoval si <i>mamince</i> na bolesti hlavy, které
                  mě také moc trápily. Proto se maminka rozhodla vrátit se se
                  mnou zpět do nemocnice. Po mém přijetí lékaři usoudili, že se
                  může jednat o <i>zánět mozkových blan</i>. Nevěděl jsem, co to
                  je, jen jsem si moc přál, aby mé trápení už přestalo.
                </p>
                <p>
                  Když se mě lékaři ptali, co mě bolí, byl jsem již tak
                  vysílený, že jsem jim nedokázal odpovědět. Jen jsem v dálce
                  slyšel, že mi budou dělat <i>lumbální punkci</i> a odběry na
                  možné virové i bakteriální příčiny. Žádný virus se sice
                  neprokázal, <i>ale lumbální punkce</i> nedopadla dobře, proto
                  se lékaři rozhodli udělat mi <i>CT vyšetření mozku</i>. Moc
                  jsem se bál co bude dál.
                </p>

                <img src="@/assets/images/before/s_thumb_1.jpg" class="mt30" alt="Eddie před nemocí s rybou." />

                <div class="gray mt15 descriptionMobile">
                  Fotografie: <b>Eddie před nemocí</b>
                </div>
              </div>
            </transition>

            <transition name="fade"
              ><div v-if="shownStoryBlocks > 0">
                <p class="mt30">
                  Když vyšetření skončilo, začali ke mě přicházet další a další
                  doktoři. <i>Maminku</i> jsem neviděl, jen jsem slyšel
                  sestřičku, jak jí řekla, že můj ošetřující lékař za ní za
                  chvíli přijde.
                </p>
                <p>
                  Výsledky vyšetření byly velmi špatné. Měl jsem masivní
                  krvácení do mozku a krevní sraženinu v hlavní krční tepně.
                  Museli mě okamžitě odvézt na sál, začít operovat a otevřít mi
                  hlavičku, aby se měl otok mozku kam vyklenout, neutlačoval
                  zbytek mozku a nenastala u mě <i>mozková smrt</i>. Operace
                  trvala několik hodin. <i>Moje maminka</i> se zhroutila a
                  musela být v péči odborníků, aby nabrala sílu na verdikt
                  lékařů.
                  Z operačního sálu přišel pan <i>neurochirurg</i> a
                  <i>mamince</i> řekl, že operace technicky dopadla dobře, ale
                  nález je obrovský. Můj mozek byl naplněn krví, proto začal boj
                  o můj život. Každý den jsem dostával malé dávky léku na ředění
                  krve a stále se čekalo, jak na něj budu reagovat. Mé šance na
                  přežití zůstávaly malé.
                </p>
                <b>Přišlo se na příčinu mého onemocnění</b>
                <p>
                  Byl tomu více než měsíc a já v nemocnici stále bojoval. Otok
                  mozku začal ustupovat, ale lékaře znepokojovalo, proč mi mizí
                  krevní destičky. Nakonec se příčina našla. Při dalších
                  vyšetření se v mé krvi nalezly protilátky na
                  <i>Covid-19</i>. Prodělal jsem ho prý bezpříznakově, přesto
                  následky <i>postcovidového syndromu</i>, který u mě propukl,
                  byly katastrofické. Ale já jsem svůj boj o život nevzdal. Otok
                  se mi nakonec natolik zlepšil, že jsem mohl být probuzený z
                  umělého spánku.
                </p>

                <img
                  class="mt30"
                  src="@/assets/images/after/s_thumb_9.jpg"
                  alt="Eddie po operaci s maminkou."
                />
                <div class="gray mt15 descriptionMobile">
                  Fotografie: <b>Eddie po operaci s maminkou</b>
                </div>
              </div>
            </transition>
            <transition name="fade">
              <div class="mt30" v-if="shownStoryBlocks > 1">
                <p>
                  Jsem moc rád, že se pesimistické výhledy lékařů, že zůstanu
                  zcela nepohyblivý, nenaplnily. Představte si, že jsem se
                  postupně začal částečně hýbat a přetáčet se na bříško. Dokonce
                  jsem se dokázal na svou maminku poprvé usmát, všem se tak
                  vrátila naděje. Podle lékařů mám <i>pravoustrannou hemiparézu</i>, má pravá nožička je sice
                  pohyblivá, ale kotník je na tom hůře, má pravá ručička je
                  téměř nepohyblivá. Kvůli tomu, že jsem byl v umělém spánku a
                  dlouho mě hospitalizovali, lékaři říkají, že mé svaly
                  atrofovaly.
                </p>
                <p>
                  Proto jsem se nemohl dlouho dobu postavit a nemohl jsem ani
                  chodit, pohyboval jsem se pouze po kolínkách. I když jsem
                  všechno vnímal, nemohl jsem bohužel téměř vůbec mluvit.
                  Dokázal jsem říci pouze ano nebo ne.
                </p>

                <p>
                  <i>Maminka</i> se mnou byla téměř dva měsíce ubytovaná v
                  nemocnici. Chodil za mnou také můj <i>tatínek</i> a
                  <i>mladší bráška Jamie</i>. Vždycky jsem je moc rád viděl, ale
                  říci jsem jim to nedokázal. Všichni o mě s láskou pečovali a
                  já měl obrovské přání, abych byl zase zdravý, abych mohl říci
                  maminko, tatínku, bráško a mohl chodit, běhat, hrát si a být
                  šťastný jako dříve. Podle lékařů mám to nejhorší za sebou.
                  Dokonce mi mohla být operativně uzavřena hlavička, protože
                  otok mozku mi téměř zmizel. Přesto je přede mnou ještě velký
                  kus práce.
                </p>
                <b>Můj krátký návrat domů</b>
                <p>
                  Nakonec jsme měli všichni velikou radost, že jsem byl
                  propuštěný z nemocnice domů. Jsem moc šťastný, že jsem začal
                  pomaličku chodit a dokonce umím říci 7 slov. Mé přání se tak
                  alespoň částečně splnilo, ale nastaly u mě velké problémy s
                  hlasivkami. Proto jsem si domova, kde jsem byl tak moc rád,
                  bohužel příliš neužil. Musel jsem být opět s maminkou
                  hospitalizován. Má další diagnóza zní oboustranná paréza
                  hlasivek <i>(obrna hlasivek)</i>. Protože bych mohl ze vteřiny
                  na vteřinu zemřít udušením, musela mi být provedena
                  <i>tracheostomie</i>. Jsem tak moc smutný, protože nevím, co
                  vše se mi může ještě stát. Ale přesto všechno jsem velký
                  bojovník a nevzdám se, udělám všechno proto, abych to zvládl a
                  uzdravil se. Až se mi rána po tracheostomii zahojí, dostanu
                  ještě mluvící kanylu a budu propuštěný z nemocnice domů.
                </p>
              </div>
            </transition>

            <transition name="fade">
              <div v-if="shownStoryBlocks > 2">
                <b>Co vše mě následně čeká</b>
                <p>
                  Aby se mi zlepšila chůze a nehybnost ručičky, musím pravidelně
                  cvičit a rehabilitovat. Abych se s pomocí mluvící kanyly
                  rozpovídal a uměl říci více slov, musím chodit na
                  <i>logopedii</i>. Na zlepšení mé mozkové činnosti mi byla
                  doporučena léčebná metoda - <i>hyperbarická komora</i>. Pro
                  celkové zlepšení mého zdravotní stavu musím podstoupit
                  aplikace kmenovými buňkami. Lékaři mi dávají velkou naději, že
                  bych se mohl téměř uzdravit. Dokonce bych mohl být i bez
                  tracheostomie a normálně dýchat. To však obnáší intenzivní
                  celoroční léčbu, kterou není možné uhradit ze zdravotního
                  pojištění. Pro mé rodiče je to velmi těžké. I když již půl
                  roku netvoříme úplnou rodinu, protože
                  <i>maminka s tatínkem</i> žijí odděleně, z celého srdce mě
                  milují a mají o mě velký strach. Také je velmi trápí, že
                  nemají dostatek finančních prostředků na mou léčbu, která je a
                  taky bude velmi drahá.
                </p>

                <img
                  class="mt30"
                  src="@/assets/images/after/s_thumb_16.jpg"
                  alt="Eddie s bratříčkem Jamiem"
                />
                <div class="gray mt15 descriptionMobile">
                  Fotografie: <b>Eddie s bratříčkem Jamiem</b>
                </div>

                <p class="mt30">
                  Proto se moji rodiče rozhodli s pomocí
                  <b>o.p.s. Život dětem</b> na mou roční léčbu vyhlásit sbírku.
                  Náklady na léčení a zdravotní pomůcky, které mi vrátí naději
                  na uzdravení, činí v následném roce
                  <b>3 000 000 Kč.</b> Společně s mými rodiči a mým bratříčkem
                  Vám budeme
                  <b
                    >nesmírně vděční za Vaši laskavou pomoc, která mi pomůže
                    uzdravit se, opět bez problémů chodit, mluvit, žít jako
                    dříve a být zase šťastný.</b
                  >
                </p>
                <p>
                  Prosíme, přispějte jakoukoliv částku na transparentní účet
                  <b>1117771700/5500</b> pod <b>variabilním symbolem 3030,</b> a
                  do poznámky napište <b>Eddie.</b>
                </p>
                <p>
                  Se srdečným poděkováním za pomoc
                  <b
                    ><i
                      >Eddie, maminka Terezka, tatínek Tomáš a bratříček
                      Jamie.</i
                    ></b
                  >
                </p>
              </div>
            </transition>
            <div class="row mt30">
              <div class="col" id="moreStoryCol">
                <transition name="fade">
                  <button
                    v-if="shownStoryBlocks < 3"
                    id="moreStory"
                    @click="showMoreStory"
                  >
                    <b>ČÍST&nbsp;DÁLE</b>
                  </button>
                </transition>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fullStoryShown: false,
      shownStoryBlocks: 0,
    };
  },

  methods: {
    showFullStory() {
      this.fullStoryShown = true;
    },
    showMoreStory() {
      this.shownStoryBlocks++;
    },
  },
  components: {},
};
</script>

<style scoped lang="scss">
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-down(lg) {
  #story {
    margin-top: 0 !important;
    text-align: center;
    .p110 {
      padding: 40px 10px 50px 10px !important;
    }
    .mt70 {
      margin-top: 24px !important;
    }
    h2 {
      margin-top: 0;
      font-size: 30px !important;
    }
    .responsive-text-18 {
      padding: 0 24px;
      margin: 0;
      font-size: 18px;
      line-height: 24px;
    }
    #story-blocks-small {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: justify;
      text-align-last: center;
      
    }
    img {
      width: 100%;
    }
    
    #story-blocks-large {
      display: none;
    }
    #moreStoryCol {
      display: flex;
      flex-direction: column;
      align-items: center;
      #moreStory {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 120px;
        letter-spacing: 1.5px;
        background: none;
        color: var(--yellow);
        border: 3px solid var(--yellow);
        border-radius: 999px;
      }
    }

    #paginator {
      margin-top: 36px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      & * {
        margin: 0 50px;
        font-size: 48px;
        color: var(--yellow);
        &:disabled {
          color: var(--gray);
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #story-blocks-small {
    display: none;
  }
  #story-blocks-large {
    display: initial;
  }
}

#story {
  margin-top: 100px;
  #story-blocks-large {
    .hyphenated {
      text-align: justify;
    }
    .bolder {
      font-weight: bolder;
    }
    .lh18 {
      line-height: 20px !important;
    }
    .description {
      font-size: 14px;
    }
    img {
      padding-top: 4px;
      height: 80%;
      width: 100%;
      object-fit: cover;
    }
    #fullStoryCol {
      display: flex;
      justify-content: flex-end;
      #fullStory {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding: 15px 30px;
        letter-spacing: 1.5px;
        background: none;
        color: var(--yellow);
        border: 3px solid var(--yellow);
        border-radius: 999px;
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
